{% extends "base.html" %}
<div data-gb-custom-block data-tag="extends" data-0='base.html'></div>
{% block content %}
<div data-gb-custom-block data-tag="block">
    <h3>Settings</h3>
    <form method="post">
        Your Name <input type="text" name="name" autocomplete="off" required value="{{ current_user.name }}">
        <input class="btn" type="submit" name="submit" value="Save">
    </form>
</div>
{% endblock %}


{% block table %}
<h5>All your comments:</h5>
<ul class="comment-list">
    <!-- if current_user.is_authenticated不需要，因为/settings有视图保护 -->
    {% for cmt in comments %}
        {% if cmt.belongs_to==current_user.username %}
            <li>
                {{ cmt.user_comment }}
                <span class="float-right">
                    <form class="inline-form" method="post" action="/board/deleteComment/{{ cmt.id }}">
                        <input class="btn" type="submit" name="delete" value="Delete">
                    </form>
                </span>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}